.navbar {
    background-color: #017afe;
}

.home {
    /* background-color: blue; */
}

.margin {
    padding-top: 30px;
    padding-bottom: 15px;
}

.bg-footer {
    background-color: #017afe;
    color: black;
}
.conquista {
    padding-bottom: 30px;
}

.menu {
    font-weight: bold;
    font-size: 18px;
    justify-content: center
}
